{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver", {}
    ],
    [
      "@babel/plugin-proposal-decorators", { "legacy": true }
    ],
    "@babel/plugin-proposal-class-properties"
  ],
  "ignore": [
    "**/*.spec.ts"
  ]
}